@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter&family=Poppins&display=swap');



body{
    background: #000;
}
/* 
li:hover {
  background: rgba(255,255,255,0.03);
} */

@font-face {
    font-family: "Switzer";
    src: url(./fonts/Switzer-Light) format("woff2");
    font-weight : 300;
         
}
@font-face {
    font-family: "Switzer";
    src: url(./fonts/Switzer-Regular.woff2) format("woff2");
    font-weight : 400;
         
}
@font-face {
    font-family: "Switzer";
    src: url(./fonts/Switzer-Medium.woff2) format("woff2");
    font-weight : 500;

         
}
@font-face {
    font-family: "Switzer";
    src: url(./fonts/Switzer-Semibold.woff2) format("woff2");
    font-weight : 600;
         
}
@font-face {
    font-family: "Switzer";
    src: url(./fonts/Switzer-Bold.woff2) format("woff2");
    font-weight : 700;
         
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}



.reveal-text {
 
  line-height: 1.1;
  font-weight: 600;
  color: rgba(255,255,255,0.1);

  /* Base (unrevealed) color */
 

  /* White overlay */
  background-image: linear-gradient(#fff 0 0);
  background-repeat: no-repeat;

  /* This is the “mask” */
  background-size: var(--reveal, 0%) 100%;
  background-position: 0 100%;

  /* Clip background to text */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make background visible through text */
  -webkit-text-fill-color: rgba(255,255,255,0.1);
}


@tailwind base;
@tailwind components;
@tailwind utilities;